<!DOCTYPE html>
<html>
  <head>
    <title>Campus-foodie(password reset)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
  <body>
      <% var message; var error; var user %>
    <h1 style="font-family: Tangerine;text-align: center;">Welcome to Campus-foodie</h1>
    <h4 style="text-align: center;">Password Recovery</h4>

    <div class="container">
        <div class="row">
            <div class="col s12 m3">

            </div>

            <div class="col s12 m6">
                <% if(!error){ %>
                    <form  id="form">
                        <div class="input-field col s12">
                            <input type="password"  id="userPassword"/>
                            <label>Enter new password</label>
                        </div>
                        <input type="hidden" name="userId" value="<%= user._id %>" id="userId">
                        <input type="hidden" name="resetCode" value="<%= user.passwordResetCode %>" id="resetCode">
                        <div class="input-field col s12">
                            <input type="password" id="confirm"/>
                            <label>Confirm Password</label>
                        </div>
                        <p id="messageError" class="red-text"></p>
                        <button type="submit" class="btn" id="submitBtn">Proceed</button>
                    </form>      
                <% }else{ %>
                    <p class="red-text">
                        <%= error %>
                    </p>
                    <script>
                        M.AutoInit();
                        M.toast({html: "<%=error %>", classes: "red white-text"});
                    </script>
                <% } %>
                
            </div>

            <div class="col s6 m3">

            </div>
        </div>
    </div>

    <script>
        let ourForm = document.getElementById("form");
        

        ourForm.addEventListener("submit", (e) =>{
            let newPassword = document.getElementById("userPassword").value;
            let confirmPassword = document.getElementById("confirm").value;
            let userId = document.getElementById("userId").value;
            let userResetCode = document.getElementById("resetCode").value;
            let messageError = document.getElementById("messageError");

            e.preventDefault();
            
            console.log("heyyyy")
            if(newPassword == ""){
                M.toast({html: "Password field empty", classes: "red white-text"});
                messageError.innerText = "Password field empty";
                return
            }

            if(confirmPassword == ""){
                M.toast({html: "Password field empty", classes: "red white-text"});
                messageError.innerText = "Password field empty";
                return
            }
            if(newPassword != confirmPassword){
                M.toast({html: "Passwords do not match", classes: "red white-text"});
                messageError.innerText = "Passwords do not match";
                return
            }
            
            messageError.innerText = "";
            let submitBtn = document.getElementById("submitBtn");
            submitBtn.disabled = true;
            submitBtn.innerText = "processing...";


            fetch("/api/auth/password-reset", {
                method: "POST",
                body:JSON.stringify({password: confirmPassword, userId: userId, resetCode: userResetCode}),
                headers: {"Content-type": "application/json"}
            })
            .then(response => response.json())
            .then(result =>{
                if(result.status == "fail"){
                    M.toast({html: result.message, classes: "red white-text"});
                    submitBtn.disabled = false;
                    submitBtn.innerText = "PROCEED";
                    return
                }
                M.toast({html: result.message, classes: "green white-text"});
                submitBtn.disabled = false;
                    submitBtn.innerText = "PROCEED";
            })
            .catch(error =>{
                M.toast({html: "Something went wrong", classes: "red white-text"});
            })
            return;
        })
    </script>
  </body>
</html>
